body {
    background: #007fc7;
}

#container {
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

h1 {
    color: red;
}

p {
    width: 300px;
    margin: 0px;
}

/*.absolute {
    position: absolute;
    border: 1px solid red;
    top: 80px;
    background: f2f2f2;
    right: 20px;


}*/
.fixed {
    position: fixed;
    border: 1px solid red;
    top: 0px;
    background: f2f2f2;
    right: 0px;


}