body {
    background: #007fc7;
}

#container {
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}

h1 {
    color: red;
}

p {
    width: 300px;
}

.relative {
    border: 1px solid red;
    position: relative;
    /* top, right, boton e left*/
    /* top: 0px;
   left: 0px;*/
    bottom: 10px;
}