#principal {
	border: 5px solid red;
	background: green;
}



.conteudo {
	background: blue;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: right;
}


.conteudo-zero {
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.clear {
	clear: both;
}

